<div class="content" style="width: 50%;">
    <!-- BEGIN LOGIN FORM -->
    <form id="login_form" role="form" action="" class="login-form" method="POST">
        {% csrf_token %}
        <h3 class="form-title font-green">Sign In</h3>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label">Email Address</label>
            <input id="email" class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="User Email" name="userEmail" /> </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <input id="password" class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" /> </div>
        <div class="form-actions">
            <button type="submit" class="btn green uppercase">Login</button>
        </div>
    </form>
    <h5>{{ msg }}</h5>
</div>
<script>
    $('#login_form').submit(function (e) {
        $(".se-pre-con").css('display', "block");
        $.ajax({
            url: "/admin/login/",
            type: "POST",
            data: {userEmail: $('#email').val(), password: $('#password').val()},
            success: function (result) {
                $('.page-content').empty();
                $('.page-content').append($(result));
                $(".se-pre-con").fadeOut("slow");
            },
        });

        e.preventDefault();
    })
</script>