{% load static %}
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Appointments
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
    <div></div>
{% for appointment in appointments %}
<div class="row">
    <div class="col-md-8">
                                <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="bold icon-user font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase">{{ appointment.user.get_full_name }}
                        ({{ appointment.user.get_age }} years old)
                    </span>
                    <div class="caption-subject" style="margin-top: 10px; font-size: 14px;">
                        Arrived
                        {% if appointment.get_day_diff != 0 %}
                            {{ appointment.get_day_diff }} {% if appointment.get_day_diff == 1 %}day{% else %}days{% endif %}  ago
                        {% elif appointment.get_hour_diff != 0 %}
                            {{ appointment.get_hour_diff }} {% if appointment.get_hour_diff == 1 %}hour{% else %}hours{% endif %} ago
                        {% else %}
                            {{ appointment.get_min_diff }} {% if appointment.get_hour_diff == 1 %}minute{% else %}minutes{% endif %} ago
                        {% endif %}
                    </div>
                    <span style="position: absolute; right: 38px; top: 20px;"><button onclick="switchWindow($(this).parent().parent().parent().parent().parent().parent());" ktype="button" class="btn btn-circle" >No Appointment / No Show</button></span>
{#                    <span style="position: absolute; right: 38px; top: 5px;">{% if appointment.get_day_diff < 3 %}<img  style="width: 100px; float:right" class="pull-right" src="{% static 'assets/global/img/new.jpeg' %}">{% endif %}</span>#}
                    {% if appointment.is_by_hand %}
                    <a data-srl="{{ appointment.appointmentSrl }}"
                                style="position: absolute; font-size: 20px; right: 20px; top: 5px; opacity: 0.6;" class="uppercase delete-appointment">X</a>
                    {% endif %}
                </div>
            </div>
            <div class="portlet-body form">
                <p>{% if appointment.is_by_hand == True %}
                    {{ appointment.contents }}
                    {% elif appointment.is_by_call == True %}
                    {{ appointment.user.get_full_name }} called you to request an appointment. Please call {{ appointment.user.get_full_name }} at {{ appointment.user.phone_number }} if you've missed the call. ({{ appointment.user.email }})
                    {% elif appointment.is_by_text == True %}
                    {{ appointment.user.get_full_name }} has requested a text from you. Please text {{ appointment.user.get_full_name }} at {{ appointment.user.phone_number }} to make an appointment or answer questions. ({{ appointment.user.email }})
                    {% elif appointment.is_by_reply == True %}
                    Please feel free to contact <strong>{{ appointment.user.first_name }}</strong> at
                    <strong>{{ appointment.user.phone_number }}</strong> to better understand {{ appointment.user.first_name }}'s
                    needs and answer any questions {{ appointment.user.first_name }} may have. <strong>({{ appointment.user.email }})</strong>
                    {% else %}
                    <strong>{{ appointment.user.get_full_name }}</strong> has requested an appointment after reviewing your {% if appointment.requestMatch %}response{% else %}profile{% endif %}.
                    Please contact {{ appointment.user.first_name }} at <strong>{{ appointment.user.get_phone_number }}</strong> to schedule an in-office consultation.
                    {{ appointment.user.first_name }} wants to be contacted <strong>{{ appointment.get_desired_time_display }}.</strong> ({{ appointment.user.email }})
                    {% endif %}
                </p>
                {% if appointment.requestMatch %}
                <div align="center">
                    <button data-appointment="{{ appointment.appointmentSrl }}" data-srl="{{ appointment.requestMatch.requestMatchSrl }}" data-id="{{ appointment.requestMatch.request.id }}" type="button"
                            class="btn btn-circle {% if appointment.is_read %}gray{% else %}blue{% endif %} uppercase view">View {{ appointment.user.get_full_name }}'s
                    consultation request</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script>
    $('.view').click(function () {
        var id = $(this).data('id')
        var srl = $(this).data('srl')
        var appointment = $(this).data('appointment')
        $.ajax({
            url: "consult_req_content/?id="+id+"&srl="+srl+"&appointment="+appointment,
            method: "GET",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.page-content').empty();
                $('.page-content').append($(result));
            }
        });
    })

    $('.delete-appointment').click(function () {
        if(confirm('Are you sure you want to delete this appointment request?')) {
            var srl = $(this).data('srl')
            $.ajax({
                url: "admin_appointment/?srl=" + srl,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $('.page-content').empty();
                    $('.page-content').append($(result));
                }
            });
        } else {
            return false
        }
    })

    function switchWindow(elem){
        if($(elem).css('opacity') == '1'){
            $(elem).css('opacity', '0.5')
        } else {
            $(elem).css('opacity', '1.0')
        }
    }

</script>