{% load static %}

<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu page-sidebar-menu-light" data-keep-expanded="true" data-auto-scroll="false" data-slide-speed="200">
            <li class="nav-item start {% if main == "consult_req" %} active {% endif %}">
                <a>
                    <i class="icon-question"></i>
                    <span class="title uppercase" style="font-size: 15px;">유저 관리</span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu always-open">
                    <li class="nav-item {% if sub == "new_requests" %} active {% endif %}">
                        <a id="new_users" class="nav-link ">
                            <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;새로운 유저</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-eye"></i>
                    <span class="title uppercase" style="font-size: 15px;">게시판</span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu always-open">
                    <li class="nav-item  ">
                        <a id="create-board" class="nav-link ">
                            <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;게시판 글 올리기</span>
                        </a>
                    </li>
                </ul>
            </li>
          
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
<script>
    setSideBarEvent();

    function setSideBarEvent() {

        $('#tester').click(function () {
            $.ajax({
                url: "appointment/",
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $('.page-content').empty();
                    $('.page-content').append($(result));
                }
            });
        })

        $('#create-board').click(function () {
            $.ajax({
                url: "create_board/",
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $('.page-content').empty();
                    $('.page-content').append($(result));
                }
            });
        })

        $('#problem').click(function () {
            $.ajax({
                url: "problem/",
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $('.page-content').empty();
                    $('.page-content').append($(result));
                }
            });
        })

        $('#gallery_list').click(function () {
            $.ajax({
                url: "gallery_list/",
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $('.page-content').empty();
                    $('.page-content').append($(result));
                }
            });
        })

        $('#new_users').click(function () {
            $.ajax({
                url: "new_users/",
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $('.page-content').empty();
                    $('.page-content').append($(result));
                }
            });
        })

        $('#replied_requests').click(function () {
            $.ajax({
                url: "replied_requests/",
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $('.page-content').empty();
                    $('.page-content').append($(result));
                }
            });
        })

</script>