#board-table {
}

.board-left-btn {
    width: 70%;
    height: 40px;
    padding-left: 5%;
    cursor: pointer;
    padding-top: 6px;
}

.board-color {
    background-color: #6C6ECD;
}

#board-search-icon {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 30px;
}

#board-search-input {
    width: 40%;
    height: 50px;
    border: none;
    padding-left: 35px;
}

#board-search-btn {
    width: 100px;
    height: 50px;
    margin-top: -5px;
}

.pagination>li>a:focus, .pagination>li>a:hover, pagination>li>span:focus, pagination>li>span:hover{
    background-color: #6A70C7 !important;
    color: white;
}

.board-tr {
    cursor: pointer;
}

.board-text {
    height: 250px;
    overflow-y: scroll;
    border: groove;
    border-width: 1px;
}

#ad-div {
    border: groove;
    border-width: 1px;
    height: 100px;
}

.board-row {
    margin-top: 2%;
}

.board-title {
    height: 60px;
    padding-top: 10px;
}

.comment-header {
    height: 30px;
    background-image: linear-gradient(to bottom, #ffffff, #f4f4f4);
}

.comments {
    padding: 2% 5% 2% 5%;
}

#comment, #write-comment {
    height: 80px;
    border-radius: 20px;
    width: 100%;
}

#write-comment {
    background-color: #F2F2F2;
}

#board-write-btn {
    width: 120px;
    height: 42px;
    margin-bottom: 1%;
}

#board-title {
    border: none;
    border-bottom: groove;
    border-width: 1px;
}

#board-text {
    border: none;
    height: 500px;
    width: 100%;
}

.board-write-list .row {
    margin-top: 3%;
}

#board-register-btn {
    width: 120px;
}