.unit-div {
    width: 100%;
    height: 50px;
    padding: 9px 0 0 5px;
    cursor: pointer;
    margin-top: 2%;
}

.lecture-checkbox {
    left: 88%;
    margin-top: -27px;
}

.sub-unit-div {
    display: none;
    background-color: #09AFB9;
}

