body {
  font-family: "Poor Story", cursive;
  text-align: center;
  width: 100wh;
  height: auto;
  background: linear-gradient(-45deg, #c0d0da, #f9f4e7, #adc4be, #ee7752);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cloud {
  width: 200px;
  height: 60px;
  background: #fff;

  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;

  position: relative;
}

.cloud:before,
.cloud:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;

  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;

  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

/*Time to animate*/
.x1 {
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
  opacity: 0.6;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  left: 200px;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6; /*opacity proportional to the size*/

  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

.x3 {
  left: -250px;
  top: -200px;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/

  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

.x4 {
  left: 470px;
  top: -250px;

  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75; /*opacity proportional to the size*/

  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}

.x5 {
  left: -150px;
  top: -150px;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/

  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
@-moz-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
@-o-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}

.article_grid_1 #gird_1_background {
  align-self: center;
  width: 800px;
  z-index: 1;
}

.article_grid_1 #grid_1_text {
  left: 370px;
  width: 300px;
  z-index: 2;
}

.article_grid_1 #grid_1_mascot {
  width: 100px;
  z-index: 3;
  -webkit-animation: movemascot 15s linear infinite;
}
@-webkit-keyframes movemascot {
  0% {
    margin-left: 600px;
  }
  50% {
    margin-left: 300px;
  }
  100% {
    margin-left: 600px;
  }
}

.article_grid_2 #grid_2_background {
  width: 300px;
}

.article_grid_3 #grid_3_background {
  width: 300px;
  z-index: 1;
}

.article_grid_3 #grid_3_text {
  width: 300px;
}

.article_grid_4 #grid_4_background {
  width: 300px;
}

.article_grid_5 #grid_5_background {
  width: 300px;
  z-index: 1;
}
.article_grid_5 #grid_5_text {
  width: 300px;
  z-index: 2;
}

.article_grid_6 #grid_6_background {
  width: 300px;
}

.article_grid_7 #grid_7_background {
  width: 300px;
  z-index: 1;
}
.article_grid_7 #grid_7_text {
  width: 300px;
  z-index: 2;
}

.article_grid_8 #grid_7_text {
  width: 300px;
}

.article_grid_9 #grid_9_background {
  width: 300px;
}
.article_grid_9 #grid_9_text {
  width: 300px;
}

.article_grid_10 #grid_10_background {
  width: 300px;
}

.article_grid_11 #grid_11_background {
  width: 300px;
}

.current_page_item {
  border: 3px dashed #ff4f4f;
  border-radius: 4px;
  color: #ff4f4f;
}

li {
  display: inline;
  padding: 5px;
}

.nav {
  margin-top: 20px;
  padding: 10px 8px 5px 8px;
}
.x-large-font {
  font-size: 36px;
}

.large-font {
  font-size: 23px;
}

.medium-font {
  font-size: 16px;
}

.small-font {
  font-size: 12px;
}

.x-small-font {
  font-size: 9px;
}

.main-color {
  color: #50519c;
}

.main-background-color {
  background-color: #50519c;
}

.main-blur-background-color {
  background-color: #959ed5;
}

.main-x-blur-background-color {
  background-color: #bdc3e6;
}

.main-2x-blur-background-color {
  background-color: #e5e7f5;
}

.blue-background-color {
  background-color: #3748ac;
}

.blue-blur-background-color {
  background-color: #5160b8;
}

.white-color {
  color: white;
}

.border-right {
  border-right: solid 0.5px #979797;
}

.logo-img {
}

.header-menu-line {
  margin-top: -15px;
  color: black;
}

body {
  width: 100%;
  background-color: white;
}

@media screen and (max-width: 1280px) {
  body {
    width: 1280px;
    overflow-x: scroll;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 1280px) {
  .header-menu {
    margin-top: 2.2%;
  }

  .login-menu {
    margin-top: 2.7%;
  }
}

.main-text {
  position: absolute;
  left: 20%;
  top: 40px;
  /*background-image: linear-gradient(to right, #e491ff, #abd9ff);*/
}

.main-bottom {
  width: 101%;
  height: 100px;
}

.main-bottom-msg {
  margin-top: 15px;
  font-weight: 600;
  cursor: pointer;
}

.line-bar-circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  top: 70px;
  left: 200px;
}

.line-bar {
  width: 123%;
  height: 6px;
  position: absolute;
  top: 77px;
  left: 100px;
}

.line-text {
  position: absolute;
  top: 90px;
  left: 70px;
}

.line-bar-img {
  width: 90%;
  margin-top: 2%;
}

.text-box {
  background-color: #f2f2f2;
  overflow-x: scroll;
  width: 80%;
  height: 35%;
  border-style: outset;
  padding: 0 15px 15px 15px;
}

.pre-line {
  white-space: pre-line;
}

.text-box::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.text-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.text-box::-webkit-scrollbar-thumb {
  background: #50519c;
}

/* Handle on hover */
.text-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.agree-text {
  margin-top: 3%;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #50519c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.step-button {
  width: 120%;
  height: 60px;
}

.gray-background-color {
  background-color: #f2f2f2;
}

.gray-color {
  color: gray;
}

.login-input {
  border: none;
  height: 50px !important;
  margin-left: 10%;
  width: 115%;
}

.login-input-text {
  padding-top: 1%;
}

.sign-in-btn {
  width: 100px;
  position: absolute;
  top: 8px;
  left: -10%;
}

.sign-in-input-div {
  margin-left: -8%;
}

.bottom-btn {
  margin-top: 4%;
  margin-bottom: 4%;
}

.complete-img {
  width: 250px;
}

.to-mypage-btn {
  font-weight: 300;
  width: 90%;
  height: 60px;
  margin-top: 6%;
}

.complete-msg-div {
  margin: 6% 0 0 8%;
}

.complete-msg {
  line-height: 42px;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.login-input {
  padding-left: 10%;
  width: 117%;
}

.login-page-input {
  width: 100%;
  margin-left: 0;
  height: 65px !important;
}

.login-box {
  margin-top: 10%;
  background-color: white;
  width: 50%;
  height: 55%;
  padding: 5% 8% 5% 8%;
}

.login-div {
  background-image: linear-gradient(to right, #e491ff, #abd9ff);
  height: 130%;
}

.blue-color {
  color: #374ba6;
}

.login-btn {
  width: 100%;
  margin-top: 0;
  height: 65px;
  padding-top: 4px;
}

.login-stay-label {
}

.find-password {
  padding-top: 5%;
  cursor: pointer;
}

.find-password-box {
  padding: 3% 8% 3% 8%;
}

.find-password-btn {
  opacity: 0.5;
}

.find-password-box-02 {
  margin-top: 7%;
  height: 90%;
}

.change-password-logo {
  width: 50%;
}

.find-password-03-box {
  height: 50%;
}

.main-left {
  background-image: linear-gradient(to right, #e491ff, #abd9ff);
  height: 42%;
}

.estimate {
  position: absolute;
  top: 60%;
  left: 30%;
  width: 40%;
  height: 60px;
}

.footer {
  height: 220px;
}

#usage {
  margin-right: 10%;
  cursor: pointer;
}

#privacy {
  cursor: pointer;
  margin-right: 10%;
}

.estimate-box {
  cursor: pointer;
}

.mypage-graph-title {
  padding-left: 10%;
  padding-bottom: 1% !important;
}

.mypage-arrow {
  transform: rotate(270deg);
}
