@import "https://fonts.googleapis.com/css?family=Roboto+Mono:100";
.sndw_title {
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  font-size: 28px;
  color: #fafafa;
  position: absolute;
  left: 392px;
  top: 15px;
}
.dud {
  color: #68ff0b;
}
