@import "https://fonts.googleapis.com/css?family=Roboto+Mono:100";
.sndw_title {
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  font-size: 28px;
  color: #fafafa;
}
.dud {
  color: #68ff0b;
}

.pentahedron {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: #3e82f7;
}

.point {
  fill: #8491a3;
}

.rhombus {
  fill: #2da94f;
  stroke: #2da94f;
}

.x {
  fill: #fdbd00;
}

.circle {
  fill: #ed412d;
}

svg {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translateZ(0px);
}
