.create-test-left-box {
    cursor: none;
}

.test-complete {
    color: #91CF48;
}

.test-box {
    border-bottom: groove;
    border-width: 1px;
    padding-top: 0;
    background-color: #E5E7F4;
    cursor: pointer;
}

.test-type-check-box {
    padding: 5% 5% 8% 5%;
    border-bottom: groove;
    border-width: 1px;
}

.unit-box {
    border: groove;
    border-width: 1px;
    height: 52px;
    padding-top: 11px;
}

.checked-unit {
    background-color: #5790DC;
}

.test-btn {
    width: 130px !important;
    padding-left: 16px;
}

.problem-box-div {
    border: groove;
    border-width: 1px;
    margin: 5% 1% 3% 1%;
}

.problem-box {
    width: 17.5%;
    height: 160px;
    margin: 2% 2% 2% 0;
    border: groove;
    border-width: 1px;
    display: inline-flex;
}

.problem {
    width: 100%;
    overflow-x: hidden;
    padding: 10% 10% 10% 10%;
}

.problem-checkbox {
    position: relative;
    width: 10%;
    left: 10%;
    top: 5%;
}

.problem-type-radio {
    border-radius: 100%;
}

#test-name {
    border: outset;
    border-right:1px;
}

.test-problem-name {
    border: groove;
    border-width: 1px;
    border-radius: 15px;
    margin: 2% 2% 0 2%;
    height: 100px;
    box-shadow: 0 5px #BBBBBB;
    padding-top: 20px;
}

.test-start {
    width: 60px;
    margin-top: 35px;
    margin-left: -15px;
}

.test-delete {
    width: 40px;
    margin-top: 43px;
}

.start-test-btn {
    border-radius: 25px;
    background-color: #484697;
    width: 300px;
    height: 80px;
}

.test-name-div {
    height: 100%;
    padding-top: 45px;
}

.result-table-div {
    padding: 0 12% 0 10%;
    margin-bottom: 5%;
}
