{% load static %}
<div class="row" style="margin-top: 5px;">
    <div class="col-xs-3 lecture-left-menu" align="center" style="padding: 0">
        <div class="lecture-left-box x-large-font create-test-left-box">
            {{ user.name }}의 문제지
        </div>
        <div id="tests">

        </div>
    </div>
    <div id="test-problem-box" class="col-xs-9" style="display: none;">
    </div>
    <div id="problems-box" class="col-xs-9">
        <div class="row">
            <div class="col-xs-4">
                <div class="row medium-font test-type-check-box">
                    <div class="col-xs-6">
                        내신형
                        <label class="container small-font" style="left: 50%; margin-top: -26px;">
                            <input name="type1" id="naesin" type="radio" checked>
                            <span class="checkmark problem-type-radio"></span>
                        </label>
                    </div>
                    <div class="col-xs-6">
                        수능형
                        <label class="container small-font" style="left: 50%; margin-top: -26px;">
                            <input name="type1" id="suneung" type="radio">
                            <span class="checkmark problem-type-radio"></span>
                        </label>
                    </div>
                </div>
                <div class="row medium-font test-type-check-box">
                    <div class="col-xs-6">
                        개념확인형
                        <label class="container small-font" style="left: 70%; margin-top: -26px;">
                            <input name="type2" id="gaenyumhwakin" type="radio" checked>
                            <span class="checkmark problem-type-radio"></span>
                        </label>
                    </div>
                    <div class="col-xs-6">
                        개념응용형
                        <label class="container small-font" style="left: 70%; margin-top: -26px;">
                            <input name="type2" id="gaenyumeungyong" type="radio">
                            <span class="checkmark problem-type-radio"></span>
                        </label>
                    </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-xs-4 medium-font" align="left">
                        쉬운
                    </div>
                    <div class="col-xs-4 medium-font" align="center">
                        중간
                    </div>
                    <div class="col-xs-4 medium-font" align="right">
                        어려운
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input id='difficulty' type="range" step="1" min="1" max="3">
                    </div>
                </div>
            </div>
            <div class="col-xs-8" style="padding-left: 5%">
                <div class="row">
                    <div id="unit1" class="col-xs-2 medium-font unit-box" align="center">
                        수1
                    </div>
                    <div id="unit2" class="col-xs-2 medium-font unit-box" align="center">
                        수2
                    </div>
                    <div id="unit3" class="col-xs-2 medium-font unit-box" align="center">
                        미적1
                    </div>
                    <div id="unit4" class="col-xs-2 medium-font unit-box" align="center">
                        미적2
                    </div>
                    <div id="unit5" class="col-xs-2 medium-font unit-box" align="center">
                        확통
                    </div>
                    <div id="unit6" class="col-xs-2 medium-font unit-box" align="center">
                        기벡
                    </div>
                </div>
                <div class="row" style="margin-top: 10%;">
                    <div class="col-xs-6" align="left">
                        <input id="detail-search" type="button" class="w3-btn medium-font board-left-btn main-background-color white-color test-btn" value="상세 검색">
                        <input id="init-condition" type="button" class="w3-btn medium-font board-left-btn main-background-color white-color test-btn" value="조건 초기화">
                    </div>
                    <div class="col-xs-6" align="right">
                        <input id="test-name" type="text" class="w3-btn medium-font board-left-btn test-btn" placeholder="시험지 이름1">
                        <input id="test-save" type="button" class="w3-btn medium-font board-left-btn main-background-color white-color test-btn" value="저장하기">
                    </div>
                </div>
            </div>
        </div>
        <div class="row problem-box-div">

        </div>
    </div>
</div>

<script>
    var idx = 0
    var size = 30
    var type1 = 1
    var type2 = 1
    var difficulty = 2
    var testSrl = ''

    $.ajax({
        url: "testBox/",
        type: 'GET',
        contentType: "application/json; charset=utf-8",
        success: function (result) {
            $('#tests').empty()
            $('#tests').append(result)
            initTestBoxEvent()
        },
    });

    $('#difficulty').change(function(){
        difficulty = $('#difficulty').val()
        getProblems()
    })

    function remove(array, elem) {
        var index = array.indexOf(elem)
        if(index > -1)
            array.splice(index, 1)
    }

    $('#naesin').change(function () {
        type1 = 1;
        getProblems()
    })

    $('#suneung').change(function () {
        type1 = 2;
        getProblems()
    })

    $('#gaenyumhwakin').change(function () {
        type2 = 1;
        getProblems()
    })

    $('#gaenyumeungyong').change(function () {
        type2 = 2;
        getProblems()
    })

    getProblems()

    function getProblems() {
        $.ajax({
            url: "problemBox/?idx="+idx+"&size="+size+"&type1="+type1+'&type2='+type2+'&difficulty='+difficulty+'&testSrl='+testSrl,
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.problem-box-div').empty()
                $('.problem-box-div').append(result)
                initProblemBoxEvent()
            },
        });
    }

    var problemSrls = []

    $('#test-save').click(function () {
        $.ajax({
            url: "createTest/",
            type: 'POST',
            data: {name: $('#test-name').val(), problemSrls: problemSrls.toString(), problemType:1, testSrl: testSrl},
            success: function (result) {
                $('#tests').empty()
                $('#tests').append(result)
                initTestBoxEvent()
                $('#test-name').val('')
                testSrl = ''
                alert('문제집이 올바르게 저장되었습니다!')
            },
        });
    })

    function initTestBoxEvent() {
        $('.test-name-div').click(function () {
            $('.test-box').each(function () {
                $(this).css('background-color', '#E2E4F0')
            })
            $(this).parent('.text-box').css('background-color', '#BEC4E3')
            testSrl = $(this).data('testsrl')
            $('#test-name').val($(this).data('testname'))
            $('#test-problem-box').css('display', 'none')
            $('#problems-box').css('display', 'inherit')
            getProblems()
        })
        $('.test-start-div').click(function () {
            $.ajax({
            url: "testProblems/?testSrl="+$(this).data('testsrl'),
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $('#test-problem-box').empty()
                    $('#test-problem-box').append(result)
                    $('#test-problem-box').css('display', 'inherit')
                    $('#problems-box').css('display', 'none')
                    initProblemBoxEvent()
                },
            });
        })
    }

    $('#new-test').click(function () {
        testSrl = ''
    })

    function initProblemBoxEvent() {
        $('.problem-check').click(function () {
            $('.unit-box').removeClass('main-background-color')
            $('.unit-box').removeClass('white-color')
            var units = String($(this).data('units')).split(',')
            for(u in units){
                if(units[u] == 1)
                    $('#unit1').addClass('main-background-color white-color')
                if(units[u] == 2)
                    $('#unit2').addClass('main-background-color white-color')
                if(units[u] == 3)
                    $('#unit3').addClass('main-background-color white-color')
                if(units[u] == 4)
                    $('#unit4').addClass('main-background-color white-color')
                if(units[u] == 5)
                    $('#unit5').addClass('main-background-color white-color')
                if(units[u] == 6)
                    $('#unit6').addClass('main-background-color white-color')

            }
            if($(this).is(":checked")) {
                problemSrls.push(String($(this).data('problemsrl')))
            } else {
                remove(problemSrls, String($(this).data('problemsrl')))
            }
            console.log(problemSrls)
        })
    }


</script>