{% load static %}

<div class="row">
    <div class="cox-xs-12" align="center">
        <img class="line-bar-img" src="{% static 'assets/img/lecture-line01.png' %}">
    </div>
</div>

<div class="row" style="margin-top: 2%">
    <div class="col-xs-12" align="center">
        <p class="medium-font main-color">분야를 선택해 주세요.</p>
        <p class="small-font gray-color">대단원을 클릭하면 소단원 리스트 확인 후 선택할 수 있습니다.</p>
    </div>
</div>

<div class="list-group">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3" style="padding-right: 4px" >
            <div id='unit1-div' class="unit-div main-background-color white-color medium-font" align="center">
                1단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit1" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit1" align="center">
                1-1단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit1-1" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit1" align="center">
                1-2단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit1-2" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit1" align="center">
                1-3단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit1-3" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="col-xs-3" style="padding-left: 4px">
            <div id="unit2-div" class="unit-div main-background-color white-color medium-font" align="center">
                2단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit2" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit2" align="center">
                2-1단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit2-1" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit2" align="center">
                2-2단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit2-2" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-3 col-xs-3" style="padding-right: 4px" >
            <div id='unit3-div' class="unit-div main-background-color white-color medium-font" align="center">
                3단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit3" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit3" align="center">
                3-1단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit3-1" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit3" align="center">
                3-2단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit3-2" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit3" align="center">
                3-3단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit3-3" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="col-xs-3" style="padding-left: 4px">
            <div id="unit4-div" class="unit-div main-background-color white-color medium-font" align="center">
                4단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit4" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit4" align="center">
                4-1단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit4-1" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit4" align="center">
                4-2단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit4-2" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-3 col-xs-3" style="padding-right: 4px" >
            <div id='unit5-div' class="unit-div main-background-color white-color medium-font" align="center">
                5단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit5" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit5" align="center">
                5-1단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit5-1" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit5" align="center">
                5-2단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit5-2" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="col-xs-3" style="padding-left: 4px">
            <div id="unit6-div" class="unit-div main-background-color white-color medium-font" align="center">
                6단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit6" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit6" align="center">
                6-1단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit6-1" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit6" align="center">
                6-2단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit6-2" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit6" align="center">
                6-3단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit6-3" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-3 col-xs-3" style="padding-right: 4px" >
            <div id='unit7-div' class="unit-div main-background-color white-color medium-font" align="center">
                7단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit7" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit7" align="center">
                7-1단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit7-1" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit7" align="center">
                7-2단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit7-2" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="col-xs-3" style="padding-left: 4px">
            <div id="unit8-div" class="unit-div main-background-color white-color medium-font" align="center">
                8단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit8" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit8" align="center">
                8-1단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit8-1" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit8" align="center">
                8-2단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit8-2" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="unit-div white-color medium-font sub-unit-div unit8" align="center">
                8-3단원
                <label class="container small-font lecture-checkbox">
                    <input id="unit7-3" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="row bottom-btn">
    <div class="col-xs-offset-3 col-xs-2" align="left">
        <input id="to-home" class="w3-btn main-color step-button medium-font gray-background-color" style="margin-left: 45%; z-index: 2;" type="button" value="홈페이지로">
    </div>
    <div class="col-xs-offset-1 col-xs-2" align="left">
        <input id="to-next" class="w3-btn white-color step-button medium-font main-background-color" style="margin-left: -5.5%;" type="button" value="다음 단계로">
    </div>
</div>

<script>
    history.pushState(null, null, "#createLecture");
    $(window).unbind("hashchange")
    $(window).bind("hashchange", function(){
        goToMain()
    });

    var unit1 = false;
    $('#unit1-div').click(function () {
        if(unit1){
            $('.unit1').css('display', 'none')
            unit1 = false;
        } else {
            $('.unit1').css('display', 'inherit')
            unit1 = true;
        }
    })

    var unit2 = false;
    $('#unit2-div').click(function () {
        if(unit2){
            $('.unit2').css('display', 'none')
            unit2 = false;
        } else {
            $('.unit2').css('display', 'inherit')
            unit2 = true;
        }
    })

    var unit3 = false;
    $('#unit3-div').click(function () {
        if(unit3){
            $('.unit3').css('display', 'none')
            unit3 = false;
        } else {
            $('.unit3').css('display', 'inherit')
            unit3 = true;
        }
    })

    var unit4 = false;
    $('#unit4-div').click(function () {
        if(unit4){
            $('.unit4').css('display', 'none')
            unit4 = false;
        } else {
            $('.unit4').css('display', 'inherit')
            unit4 = true;
        }
    })

    var unit5 = false;
    $('#unit5-div').click(function () {
        if(unit5){
            $('.unit5').css('display', 'none')
            unit5 = false;
        } else {
            $('.unit5').css('display', 'inherit')
            unit5 = true;
        }
    })

    var unit6 = false;
    $('#unit6-div').click(function () {
        if(unit6){
            $('.unit6').css('display', 'none')
            unit6 = false;
        } else {
            $('.unit6').css('display', 'inherit')
            unit6 = true;
        }
    })

    var unit7 = false;
    $('#unit7-div').click(function () {
        if(unit7){
            $('.unit7').css('display', 'none')
            unit7 = false;
        } else {
            $('.unit7').css('display', 'inherit')
            unit7 = true;
        }
    })

    var unit8 = false;
    $('#unit8-div').click(function () {
        if(unit8){
            $('.unit8').css('display', 'none')
            unit8 = false;
        } else {
            $('.unit8').css('display', 'inherit')
            unit8 = true;
        }
    })

    $('#to-home').click(function () {
        $.ajax({
            url: "main/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })
</script>