{% load static %}

<div class="list-group board-write-list" style="margin-top: -6%; padding: 0 12% 1% 12%;">
    <div class="row">
        <div class="col-xs-12" align="right">
            <input id="board-register-btn" type="button" class="w3-btn white-color medium-font board-color" value="등록">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 medium-font" align="left">
            {{ user.id }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <input id="board-title" class="x-large-font" type="text" placeholder="제목">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <textarea id="board-text" class="medium-font" placeholder="내용을 입력하세요."></textarea>
        </div>
    </div>
</div>

<script>
    $('#board-register-btn').click(function () {
        $.ajax({
            url: "createBoard/",
            type: 'POST',
            data: {title: $('#board-title').val(), text: $('#board-text').val(), type: 3},  // 커뮤니티
            success: function (result) {
                if(result.success) {
                    type = 3;
                    getBoards()
                    $('#board-write').css('display', 'none')
                    $('#board-detail').css('display', 'none')
                    $('#board-div').css('display', 'inherit')
                }
                alert(result.msg)
            },
        });
    })
</script>