{% load static %}
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<div class="list-group estimation-start">
    <div class="row line main-background-color white-color problem-line">
        <div class="col-xs-3 x-large-font" align="center">
            {% if test.type == 1 %}
            {{ test.name }}
            {% else %}
            진단고사
            {% endif %}
        </div>
        <div class="col-xs-3" align="left">
            <span id="current-problem" class="x-large-font">{{ problemIdx }}</span><span class="medium-font">/ {{ test.get_problem_len }} 문제</span>
        </div>
        <div id="exit" class="col-xs-offset-3 col-xs-3 x-large-font" align="right" style="color: #716EE6;">
            중단하기
        </div>
    </div>

    <div class="row" style="padding: 3% 0 0 5%;">
        <div class="col-xs-9">
            <div class="problem-div">
                <div class="x-large-font problem-number">
                    {{ problemIdx }}
                </div>
                <div id="problem-box">
                    {{ problem.text }}
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            {% if problem.answerType == 1 %}
            <div class="answer-box white-color x-large-font">1</div>
            <div class="answer-box white-color x-large-font">2</div>
            <div class="answer-box white-color x-large-font">3</div>
            <div class="answer-box white-color x-large-font">4</div>
            <div class="answer-box white-color x-large-font">5</div>
            {% else %}
            <div align="center" class="answer-type2-div">
                <input id="answer-type2" class="answer-type2 x-large-font" type="number" pattern="\d+" placeholder=": 정답입력">
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row" style="margin-top: 4%;">
        <div class="col-xs-6" align="right">
            <input id="problem-prev" class="w3-btn w3-round white-color problem-btn x-large-font" type="button" value="이전문제">
        </div>
        <div class="col-xs-6" align="left">
            {% if problemIdx < test.get_problem_len %}
            <input id="problem-next" class="w3-btn w3-round white-color problem-btn x-large-font" type="button" value="다음문제">
            {% else %}
            <input id="test-complete" class="w3-btn w3-round white-color problem-btn x-large-font" type="button" value="제출하기">
            {% endif %}
        </div>
    </div>
</div>


<script>
{#    $('.answer-box').mouseover(function () {#}
{#        $(this).css('background-color', '#5160B8')#}
{#    })#}
{##}
{#    $('.answer-box').mouseleave(function () {#}
{#        $(this).css('background-color', '#BDC3E6')#}
{#    })#}

    history.pushState(null, null, "#estimation");
    $(window).unbind("hashchange")
    $(window).bind("hashchange", function(){
        $.ajax({
            url: "onlineEstimationStart/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    });

    $('#test-complete').click(function () {
        if(confirm('답안지를 제출 하시겠습니까?')){
            $.ajax({
                url: "answer/",
                type: 'POST',
                data: {testSrl: {{test.testSrl}}, answers: answers.toString(), from: 'estimation'},
                success: function (result) {
                    if(result.msg){
                        alert(result.msg)
                    } else {
                        $('.main-container').empty()
                        $('.main-container').append(result)
                    }
                },
            });
        }
    })

    $('.answer-box').each(function () {
        if($(this).text() == answers[problemIdx]){
            $(this).css('background-color', '#5160B8')
        }
    })

    {% if problem.answerType == 2 %}
        $('#answer-type2').val(answers[problemIdx])
    {% endif %}

    $('.answer-box').click(function () {
        $('.answer-box').each(function () {
            $(this).css('background-color', '#BDC3E6')
        })
        $(this).css('background-color', '#5160B8')
        answers[problemIdx] = $(this).text()
    })

    $('#problem-prev').click(function () {
        if(problemIdx == 0){
            alert('첫 문제 입니다.')
            return false;
        }
        {% if problem.answerType == 2 %}
        answers[problemIdx] = $('#answer-type2').val()
        {% endif %}
        problemIdx -= 1;
        $.ajax({
            url: "estimation/?testSrl={{ test.testSrl }}&problemIdx="+problemIdx,
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
                window.MathJax = {
                    tex2jax: {
                      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                      processEscapes: true
                    }
                  };
            },
        });
    })

    $('#problem-next').click(function () {
        if(problemIdx + 1 == {{ test.problems.all | length }}){
            alert('마지막 문제입니다.')
            return false;
        }
        {% if problem.answerType == 2 %}
        answers[problemIdx] = $('#answer-type2').val()
        {% endif %}
        problemIdx += 1;
        $.ajax({
            url: "estimation/?testSrl={{ test.testSrl }}&problemIdx="+problemIdx,
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
                window.MathJax = {
                    tex2jax: {
                      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                      processEscapes: true
                    }
                };
            },
        });
    })

    $('#exit').click(function () {
        $.ajax({
            url: "onlineEstimationStart/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })
</script>