{% load static %}
<div class="row" style="margin-top: 5%">
    <img src="{% static 'assets/img/choice_test.png' %}" alt="" class="choice_test" style="float:left;">
</div>

<div class="row">
    <div id="online-test" class="col-xs-6 right-border estimation-start-div" align="center">
        <img class="estimation-start-img" src="{% static 'assets/img/online_test.png' %}">
    </div>

    <div id="offline-test" class="col-xs-6 estimation-start-div" align="center">
        <img class="estimation-start-img" src="{% static 'assets/img/offline_test.png' %}">
    </div>
</div>

<script>
history.pushState(null, null, "#estimationStart");
$(window).unbind("hashchange");
$(window).bind("hashchange", function() {
  $.ajax({
    url: "mypage/",
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
    }
  });
});

$("#online-test").click(function() {
  $.ajax({
    url: "onlineEstimationStart/",
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
    }
  });
});

$("#offline-test").click(function() {
  $.ajax({
    url: "mypage2/",
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
    }
  });
});
</script>
