{% load static %}

<div class="list-group estimation-start" style="background-color: white">
    <div class="row line main-background-color white-color problem-line">
        <div class="col-xs-6 x-large-font" align="right" style="padding-right: 3%">
            {% if test.type == 1 %}
                {{ test.name }}
            {% elif test.type == 2 %}
                진단고사
            {% else %}
                추천고사
            {% endif %}
            결과
        </div>
        <div class="col-xs-6" align="left" style="padding-left: 3%">
            <div class="row large-font" style="margin-top: -30px"><span class="x-large-font">{{ rate.score }}</span>/{{ rate.totalScore }}</div>
            <div class="row large-font"><span class="x-large-font">{{ rate.get_grade }}</span>등급</div>
        </div>
    </div>

    <div class="row" align="center" style="margin-top: 2%; padding: 0 12% 0 12%">
        <div class="col-xs-2 x-large-font main-color bold">수1</div>
        <div class="col-xs-2 x-large-font main-color bold">수2</div>
        <div class="col-xs-2 x-large-font main-color bold">미1</div>
        <div class="col-xs-2 x-large-font main-color bold">미2</div>
        <div class="col-xs-2 x-large-font main-color bold">기벡</div>
        <div class="col-xs-2 x-large-font main-color bold">확통</div>
    </div>
    <div class="row" style="padding: 0 10% 5% 10%">
        <div id="chartContainer" style="height: 50%; width: 97%;"></div>
    </div>

    {% if test.type == 2 %}
    <div class="row result-bottom">
        <div class="col-xs-12" align="center">
            <input id="go-project" class="result-bottom-btn bold" type="button" value="약점 강화 프로젝트">
        </div>
    </div>
    {% endif %}
    {% if test.type == 1 or test.type == 3 %}
    <div class="row result-table-div" align="center">
        <div class="col-xs-12">
            <table class="w3-table w3-bordered">
                <thead>
                    <tr class="white-color" style="background-color: #3748AC">
                        <td></td>
                        {% for ans in answers.answers.all %}
                        <td>{{ forloop.counter }}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>답변</td>
                        {% for ans in answers.answers.all %}
                        <td>{{ ans.answer }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>정답</td>
                        {% for problem in test.problems.all %}
                        <td>{{ problem.answer }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>채점결과</td>
                        {% for result in testResult %}
                        <td>{{ result }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>정답율</td>
                        {% for problem in test.problems.all %}
                        <td>{{ problem.get_right_answer_percent }}%</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row result-bottom">
        <div class="col-xs-12" align="center">
            <input id="back" class="result-bottom-btn bold" type="button" value="돌아가기">
        </div>
    </div>

    {% endif %}
</div>

<script>
    $('#go-project').click(function () {
        $.ajax({
            url: "project/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
                goToTop()
            },
        });
    })

    $('#back').click(function () {
        {% if from == 'test' %}
        $.ajax({
            url: "createTest/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
                goToTop()
            },
        });
        {% else %}
        $.ajax({
            url: "recommend/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
                goToTop()
            },
        });
        {% endif %}
    })

    $.ajax({
        url: "getRateData/?ratingSrl={{ rate.ratingSrl }}",
        type: 'GET',
        contentType: "application/json; charset=utf-8",
        success: function (result) {
            drawGraph(result)
        },
    });

    function drawGraph(data) {
		var chart = new CanvasJS.Chart("chartContainer",{
			title:{
				text: ""
			},
            animationEnabled: true,
			axisY:{
				reversed: true,
                labelFontSize: 30,
                interval: 1,
                minimum: 0,
                maximum: 9,
			},
            axisX:{
			    labelFontSize: 40,
                labelFontColor: "#50519C",
            },
            backgroundColor: "#E5E7F5",
			data: [{
				type: "line",
				dataPoints: data,
                markerSize: 35,
                lineThickness: 6,
                color: "#47DFBA",
			}]
		});
	    chart.render();
	}

</script>