{% load static %}
<div class="row login-div">
    <div class="col-x-12" align="center">
        <div class="row" align="center">
            <div class="col-xs-offset-3 col-xs-4 login-box find-password-box" align="center">
                <p class="x-large-font bold blue-color">비밀번호 찾기</p>
                <p class="medium-font bold blue-color">등록하신 이메일 주소를 입력해 주세요.<br>
                비밀번호 재설정을 위한 이메일을 보내드립니다.</p>
                <div align="left"><p class="medium-font blue-color" style="font-weight: 300; margin-top: 8%;">이메일 주소</p></div>
                <input id="email" type="email" class="w3-input login-input large-font w3-border login-page-input" placeholder="example@sndw.co.kr">
                <br>
                <br>
                <input id="find-password-btn" class="login-btn w3-btn white-color step-button x-large-font blue-background-color find-password-btn" type="button" value="다음">
            </div>
        </div>
    </div>
</div>

<script>
    $('#email').keypress(function () {
        if(validateEmail($('#email').val())){
            $('#find-password-btn').css('opacity', '1')
        } else {
            $('#find-password-btn').css('opacity', '0.5')
        }
    })

    $('#find-password-btn').click(function () {
        $.ajax({
            url: "sendPasswordEmail/?email="+$('#email').val(),
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if(result.success) {
                    $.ajax({
                        url: "findPassword2/",
                        type: 'GET',
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            $('.main-container').empty()
                            $('.main-container').append(result)
                        }
                    })
                }
                alert(result.msg)
            },
        });
    })


</script>