{% load static %}
<div class="row login-div">
    <div class="col-x-12" align="center">
        <div class="row" align="center">
            <div class="col-xs-offset-3 col-xs-4 login-box find-password-box find-password-03-box" align="center">
                <p class="x-large-font bold blue-color">완료되었습니다!</p>
                <p class="large-font blue-color">변경하신 비밀번호로 로그인 하세요!</p>
                <img class="change-password-logo" style="margin-top: 4%" src="{% static 'assets/img/crown.png' %}">
                <br>
                <input id="find-password-03-btn" style="opacity: 1; margin-top: 5%" class="login-btn w3-btn white-color step-button x-large-font blue-background-color find-password-btn bold" type="button" value="로그인 페이지로!">
            </div>
        </div>
    </div>
</div>

<script>

    $('#find-password-03-btn').click(function () {
        $.ajax({
            url: "login/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })


</script>