{% load static %}
<div class="header">
    <div class="row">
        <div class="col-xs-2">
            <img class="logo-img" src="{% static 'assets/img/logo.png' %}">
        </div>
        <div id="mypage" class="col-xs-1 medium-font main-color header-menu" style="width: 10%">
            마이페이지
        </div>
        <div id="create-test" class="col-xs-1 medium-font main-color  header-menu">
            문제은행
        </div>
        <div id="lecture" class="col-xs-1 medium-font main-color  header-menu">
            강의실
        </div>
        <div id="ranking" class="col-xs-1 medium-font main-color  header-menu" style="width: 8%">
            랭킹
        </div>
        <div id="recommend" class="col-xs-1 medium-font main-color header-menu">
            문제추천
        </div>
        <div id="board" class="col-xs-1 medium-font main-color header-menu">
            입시정보
        </div>
        <div id="login" class="col-xs-1 small-font main-color {% if not user %}border-right{% endif %} header-menu login-menu" style="margin-left: 15%; width: 7%">
            로그인
        </div>
        <div id="signup" class="col-xs-1 small-font main-color  header-menu login-menu" style="width: 7%; {% if user %}display: none;{% endif %}">
            회원가입
        </div>
{#        <div class="col-xs-1 small-font main-color header-menu login-menu" style="width: 10%">#}
{#            ID/PW 찾기#}
{#        </div>#}
    </div>
</div>

<script>
    $(".header-menu").mouseover(function(){
        $(this).css("color", "red");
    });
    $(".header-menu").mouseleave(function(){
        $(this).css("color", "#50519C");
    });

    $('.logo-img').click(function () {
        goToMain()
    })

    $('#mypage').click(function () {
        $.ajax({
            url: "mypage/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })
    
    $('#signup').click(function () {
         $.ajax({
            url: "signIn/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })

    $('#lecture').click(function () {
        $.ajax({
            url: "lecture/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })

    $('#login').click(function () {
        $.ajax({
            url: "login/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })

    $('#board').click(function () {
        $.ajax({
            url: "board/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })

    $('#create-test').click(function () {
        $.ajax({
            url: "createTest/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })

    $('#ranking').click(function () {
        $.ajax({
            url: "ranking/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })

    $('#recommend').click(function () {
        $.ajax({
            url: "recommend/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })

</script>