{% load static %}
  <div class="menu_bar">
  <div class="nav">
    <ul>
      <li id="logo-img"><img src="{% static 'admin/img/sndw_mascot.png' %}" style="width: 60px;"></li>
      <li class="sndw_title"></li>
      <li id="mypage">마이페이지</li>
      <li id="create-test">문제은행</li>
      <li id="ranking">랭킹</li>
      <li id="board">입시정보</li>
      <li id="payment">결제</li>
      <li id="login" class="{% if not user %}border-right{% endif %} header-menu login-menu">로그인</li>
      <li id="signup" style="{% if user %}display: none;{% endif %}">회원가입</li>
    </ul>
    <div class="cloud x1">
    <div class="cloud x2">
    </div>
  </div>
</div>
{#        <div class="header-menu login-menu">#}
{#            ID/PW 찾기#}
{#        </div>#}
    </div>

<script>
var _createClass = (function() {
  function defineProperties(target, props) {
    for (var i = 0; i < props.length; i++) {
      var descriptor = props[i];
      descriptor.enumerable = descriptor.enumerable || false;
      descriptor.configurable = true;
      if ("value" in descriptor) descriptor.writable = true;
      Object.defineProperty(target, descriptor.key, descriptor);
    }
  }
  return function(Constructor, protoProps, staticProps) {
    if (protoProps) defineProperties(Constructor.prototype, protoProps);
    if (staticProps) defineProperties(Constructor, staticProps);
    return Constructor;
  };
})();

function _classCallCheck(instance, Constructor) {
  if (!(instance instanceof Constructor)) {
    throw new TypeError("Cannot call a class as a function");
  }
}

// ——————————————————————————————————————————————————
// TextScramble
// ——————————————————————————————————————————————————

var TextScramble = (function() {
  function TextScramble(el) {
    _classCallCheck(this, TextScramble);

    this.el = el;
    this.chars = "!<>-_\\/[]{}—=+*^?#________";
    this.update = this.update.bind(this);
  }

  _createClass(TextScramble, [
    {
      key: "setText",
      value: function setText(newText) {
        var _this = this;

        var oldText = this.el.innerText;
        var length = Math.max(oldText.length, newText.length);
        var promise = new Promise(function(resolve) {
          return (_this.resolve = resolve);
        });
        this.queue = [];
        for (var i = 0; i < length; i++) {
          var from = oldText[i] || "";
          var to = newText[i] || "";
          var start = Math.floor(Math.random() * 40);
          var end = start + Math.floor(Math.random() * 40);
          this.queue.push({ from: from, to: to, start: start, end: end });
        }
        cancelAnimationFrame(this.frameRequest);
        this.frame = 0;
        this.update();
        return promise;
      }
    },
    {
      key: "update",
      value: function update() {
        var output = "";
        var complete = 0;
        for (var i = 0, n = this.queue.length; i < n; i++) {
          var _queue$i = this.queue[i],
            from = _queue$i.from,
            to = _queue$i.to,
            start = _queue$i.start,
            end = _queue$i.end,
            char = _queue$i.char;

          if (this.frame >= end) {
            complete++;
            output += to;
          } else if (this.frame >= start) {
            if (!char || Math.random() < 0.28) {
              char = this.randomChar();
              this.queue[i].char = char;
            }
            output += '<span class="dud">' + char + "</span>";
          } else {
            output += from;
          }
        }
        this.el.innerHTML = output;
        if (complete === this.queue.length) {
          this.resolve();
        } else {
          this.frameRequest = requestAnimationFrame(this.update);
          this.frame++;
        }
      }
    },
    {
      key: "randomChar",
      value: function randomChar() {
        return this.chars[Math.floor(Math.random() * this.chars.length)];
      }
    }
  ]);

  return TextScramble;
})();

var phrases = [
  "수능대왕",
  "수능정복",
  "수능대왕",
  "수학만점",
  "수능대왕",
  "수학정복",
  "수능대왕"
];

var el = document.querySelector(".sndw_title");
var fx = new TextScramble(el);

var counter = 0;
var next = function next() {
  fx.setText(phrases[counter]).then(function() {
    setTimeout(next, 800);
  });
  counter = (counter + 1) % phrases.length;
};
next();
// ㅁㄴㅇㅁㄴㅇ

$(".header-menu").mouseover(function() {
  $(this).css("color", "red");
});
$(".header-menu").mouseleave(function() {
  $(this).css("color", "#000000");
});

$("#logo-img").click(function() {
  $.ajax({
    url: "main/",
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
    }
  });
});

$("#mypage").click(function() {
  $.ajax({
    url: "mypage/",
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
    }
  });
});

$("#signup").click(function() {
  $.ajax({
    url: "signIn/",
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
    }
  });
});

$("#lecture").click(function() {
  $.ajax({
    url: "lecture/",
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
    }
  });
});

$("#login").click(function() {
  $.ajax({
    url: "login/",
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
    }
  });
});

$("#board").click(function() {
  $.ajax({
    url: "board/",
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
    }
  });
});

$("#create-test").click(function() {
  $.ajax({
    url: "createTest/",
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
    }
  });
});

$("#ranking").click(function() {
  $.ajax({
    url: "ranking/",
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
    }
  });
});

$("#project").click(function() {
  $.ajax({
    url: "project/",
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
    }
  });
});

$("#payment").click(function() {
  $.ajax({
    url: "paymentStart/",
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
    }
  });
});
</script>
