{% load static %}
<div class="row" style="padding-top: 5%;">
    <div class="col-xs-6" align="center">
        <p id="subject" class="x-large-font bold">{{ unit }}</p>
        <p class="large-font">{{ lectures.all.count }}개의 영상이 있습니다.</p>
    </div>
    <div class="col-xs-6">
        <input id="lecture-search" class="w3-input w3-border w3-round-large large-font" type="text" placeholder="Search:">
        <img id="lecture-search-icon" src="{% static 'assets/img/search.png' %}">
    </div>
</div>

<div class="list-group" style="margin-top: 5%">
    <div class="row" >
        {% for lecture in lectures %}
        <div class="col-xs-4 lecture-container" align="center" style="margin-top: 5%">
            <video class="lecture" src="{{ lecture.get_url }}" controls>
            </video>
            <div class="blue-background-color medium-font white-color lecture-desc">{{ lecture.middleUnit.all.0.get_middleUnit_display }} - {{ lecture.teacherName }}
                <img class="star-img" src="{% static 'assets/img/star.png' %}">
                <img class="star-img" src="{% static 'assets/img/star.png' %}">
                <img class="star-img" src="{% static 'assets/img/star.png' %}">
                <img class="star-img" src="{% static 'assets/img/star.png' %}">
                <img class="star-img" src="{% static 'assets/img/star.png' %}">
            </div>
        </div>
        {% endfor %}
    </div>
</div>
