{% load static %}
<section class="portfolio" id="portfolio">
      <div class="container">
          <div class="col-md-6 col-lg-4">
              <img id="logoimg" class="img-fluid" src="{% static 'admin/img/landing_img1.png'%}" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <img class="img-fluid" src="{% static 'admin/img/landing_text_1.png'%}" alt="">
          </div>
          <div class="col-md-6 col-lg-4">
              <img class="img-fluid" src="{% static 'admin/img/sndw_mascot.png'%}" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="portfolio" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
              <img class="img-fluid" src="{% static 'admin/img/slide2.png'%} " alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="portfolio" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
              <img class="img-fluid" src="{%static 'admin/img/ingang.png'%}" alt="">
          </div>
          <div class="col-md-6 col-lg-4">
              <img class="img-fluid" src="{%static 'admin/img/slide3_text.png'%}" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="portfolio" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
              <img class="img-fluid" src="{%static 'admin/img/text4.png'%}" alt="">
          </div>
        </div>
      </div>
    </section>


    <section class="portfolio" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
              <img class="img-fluid" src="{%static 'admin/img/text5.png' %}" alt="">
          </div>
          <div class="col-md-6 col-lg-4">
              <img class="img-fluid" src="{%static 'admin/img/slide4.png' %}" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="portfolio" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
              <img class="img-fluid" src="{%static 'admin/img/text6.png'%}" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="portfolio" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
              <img class="img-fluid" src="{%static 'admin/img/text7.png'%}" alt="">
          </div>
          <div class="col-md-6 col-lg-4">
              <img class="img-fluid" src="{%static 'admin/img/rullet.png'%}" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="portfolio" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
              <img class="img-fluid" src="{%static 'admin/img/text8.png'%}" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="portfolio" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
              <img class="img-fluid" src="{%static 'admin/img/book_whole.png'%}" alt="">
          </div>
          <div class="col-md-6 col-lg-4">
              <img class="img-fluid" src="{%static 'admin/img/text9.png'%}" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="portfolio" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
              <img class="img-fluid" src="{%static 'admin/img/unclesndw.png'%}" alt="">
          </div>
        </div>
      </div>

      <section class="portfolio" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4">
                <img class="img-fluid" src="{%static 'admin/img/text10.png'%}" alt="">
            </div>
          </div>
        </div>

<!-- <div class="row" style="padding-top: 5px;">
    <div class="col-xs-6 main-left">
        <div class="main-color large-font main-text white-color">
            시키는 대로만해.<br>
            필요한 걸 알려줄게.<br>
            수학의 모든 것 <span class="x-large-font bold">수능대왕</span>
        </div>
        <input id="estimate" type="button" class="white-color large-font main-bottom-msg estimate main-background-color" value="실력 측정하기!">
    </div>
    <div class="col-xs-6" align="right" style="padding-left: 0">
        <iframe height="42%" width="100%" style="opacity: 0.5" src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>


<div class="row">
    <div class="col-xs-offset-1 col-xs-10">
        <div class="w3-content w3-section" style="max-width:1000px">
          <img class="mySlides w3-animate-right" src="{% static 'assets/img/main-slide01.png' %}" style="width:100%">
          <img class="mySlides w3-animate-right" src="{% static 'assets/img/main-slide02.png' %}" style="width:100%">
          <img class="mySlides w3-animate-right" src="{% static 'assets/img/main-slide03.png' %}" style="width:100%">
        </div>
    </div>
</div> -->

<script>
    history.pushState(null, null, "#main");
    $(window).bind("hashchange", function(){
        history.pushState(null, null, "#main");
    });

    $(".main-bottom-msg").mouseover(function(){
        $(this).css("color", "#20216C");
    });
    $(".main-bottom-msg").mouseleave(function(){
        $(this).css("color", "white");
    });

    $('#estimate').click(function () {
        $.ajax({
            url: "estimationStart/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })

    {% if user %}
    $('#login').text('로그아웃')
    $('#login').unbind('click')
    $('#signup').css('display', 'none')
    $('#login').removeClass('border-right')
    $('#login').click(function () {
        $.ajax({
            url: "logout/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                goToMain()
                alert(result.msg)
                $('#login').addClass('border-right')
                $('#signup').css('display', 'inherit')
            },
        });
    })
    {% else %}
    $('#login').text('로그인')
    $('#login').unbind('click')
    $('#login').click(function () {
        $.ajax({
            url: "login/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })
    {% endif %}
</script>
