{% load static %}
<div class="row">
    <div class="col-xs-12" align="right">
        <iframe height="35%" width="55%" style="opacity: 0.5" src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="main-color large-font main-text">
        <span class="x-large-font">능동적인</span> 학습환경<br>
        본인의 성실도 <span class="large-font">자가체크</span><br>
        <span class="x-large-font">랭킹</span> 시스템 <span class="x-large-font">입시정보</span> 및 공부자극 컨텐츠<br>
    </div>
</div>

<div class="row main-background-color main-bottom" align="center">
    <p class="white-color x-large-font main-bottom-msg">나의 실력 측정하기!</p>
</div>

<div class="row">
    <div class="col-xs-offset-1 col-xs-10">
        <div class="w3-content w3-section" style="max-width:1000px">
          <img class="mySlides w3-animate-right" src="{% static 'assets/img/main-slide01.png' %}" style="width:100%">
          <img class="mySlides w3-animate-right" src="{% static 'assets/img/main-slide02.png' %}" style="width:100%">
          <img class="mySlides w3-animate-right" src="{% static 'assets/img/main-slide03.png' %}" style="width:100%">
        </div>
    </div>
</div>

<script>
    history.pushState(null, null, "#main");
    $(window).bind("hashchange", function(){
        history.pushState(null, null, "#main");
    });

    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 5500);
    }

    $(".main-bottom-msg").mouseover(function(){
        $(this).css("color", "#20216C");
    });
    $(".main-bottom-msg").mouseleave(function(){
        $(this).css("color", "white");
    });

    $('.main-bottom').click(function () {
        $.ajax({
            url: "signIn/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })

</script>
