{% load static %}
<div class="article_grid_1">
    <div class="cloud x1"></div>
    <img id="gird_1_background" src="{% static 'admin/img/landing_img1.png'%}" alt="">
    <img id="grid_1_text" src="{% static 'admin/img/landing_text_1.png'%}">
    <img id="grid_1_mascot" src="{% static 'admin/img/sndw_mascot.png'%}" alt="">
    <div class="cloud x2"></div>

</div>

<div class="article_grid_2">
    <img id="grid_2_background" src="{% static 'admin/img/slide2.png'%} " alt="">
    <div class="cloud x3"></div>
</div>

<div class="article_grid_3">
    <img id="grid_3_background" src="{%static 'admin/img/ingang.png'%}" alt="">
    <div class="cloud x4"></div>
    <img id="grid_3_text" src="{%static 'admin/img/slide3_text.png'%}" alt="">
    <div class="cloud x5"></div>
</div>

<div class="article_grid_4">
  <img id="grid_4_background" src="{%static 'admin/img/text4.png'%}" alt="">
</div>


<div class="article_grid_5">
  <img id="grid_5_text" src="{%static 'admin/img/text5.png' %}" alt="">
  <img id="grid_5_background" src="{%static 'admin/img/slide4.png' %}" alt="">
</div>

<div class="article_grid_6">
  <img id="grid_6_background" src="{%static 'admin/img/text6.png'%}" alt="">
</div>

<div class="article_grid_7">
  <img id="grid_7_text" src="{%static 'admin/img/text7.png'%}" alt="">
  <img id="grid_7_background" src="{%static 'admin/img/rullet.png'%}" alt="">
</div>

<div class="article_grid_8">
  <img id="grid_8_text" src="{%static 'admin/img/text8.png'%}" alt="">
</div>

<div class="article_grid_9">
  <img id="grid_9_background" src="{%static 'admin/img/book_whole.png'%}" alt="">
  <img id="grid_9_text" src="{%static 'admin/img/text9.png'%}" alt="">
</div>

<div class="article_grid_10">
  <img id="grid_10_background" src="{%static 'admin/img/unclesndw.png'%}" alt="">
</div>

<div class="article_grid_11">
    <img id="grid_11_background" src="{%static 'admin/img/text10.png'%}" alt="">
</div>

<script>
    history.pushState(null, null, "#main");
    $(window).bind("hashchange", function(){
        history.pushState(null, null, "#main");
    });

    $(".main-bottom-msg").mouseover(function(){
        $(this).css("color", "#20216C");
    });
    $(".main-bottom-msg").mouseleave(function(){
        $(this).css("color", "white");
    });

    $('#estimate').click(function () {
        $.ajax({
            url: "estimationStart/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })

    {% if user %}
    $('#login').text('로그아웃')
    $('#login').unbind('click')
    $('#signup').css('display', 'none')
    $('#login').removeClass('border-right')
    $('#login').click(function () {
        $.ajax({
            url: "logout/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                goToMain()
                alert(result.msg)
                $('#login').addClass('border-right')
                $('#signup').css('display', 'inherit')
            },
        });
    })
    {% else %}
    $('#login').text('로그인')
    $('#login').unbind('click')
    $('#login').click(function () {
        $.ajax({
            url: "login/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })
    {% endif %}
</script>
