{% load static %}
<div class="list-group estimation-start">
    <div class="row" style="padding-top: 8%;">
        <div id="start-estimation" class="x-large-font white-color main-background-color line" align="center">
            온라인 진단고사 <span style="font-size: 50px;">시작하기!</span>
        </div>
    </div>

        <div align="center">
            <img src="{% static 'assets/img/online_test.png' %}">
        </div>
</div>

<script>
history.pushState(null, null, "#onlineEstimationStart");
$(window).unbind("hashchange");
$(window).bind("hashchange", function() {
  $.ajax({
    url: "estimationStart/",
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
      $(".header").css("display", "inherit");
      $(".footer").css("display", "inherit");
    }
  });
});

problemIdx = 0;
answers = [];

$(".header").css("display", "none");

$("#start-estimation").click(function() {
  $.ajax({
    url: "estimation/?from=estimation&problemIdx=" + problemIdx,
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
      $(".se-pre-con").css("display", "block");
      window.MathJax = {
        tex2jax: {
          inlineMath: [["$", "$"], ["\\(", "\\)"]],
          processEscapes: true
        }
      };
      $(".se-pre-con").fadeOut("slow");
    }
  });
});
</script>
