{% load static %}
<div class="row">
    <div class="col-xs-12">
        <div class="payment-head bold large-font">
          1회 결제 후 4주 과정 진행!
        </div>

        <div class="payment-head bold large-font">일반과외</div>


    </div>
</div>
<div class="row payment-box-div" align="center">
    <div class="col-xs-4">
        <img class="payment-box" src="{% static 'assets/img/group-8@3x.png' %}">
    </div>
    <div class="col-xs-4">
        <img class="payment-box" src="{% static 'assets/img/group-7@3x.png' %}">
    </div>
    <div class="col-xs-4">
        <img class="payment-box" src="{% static 'assets/img/group-10@3x.png' %}">
    </div>
</div>
