{% load static %}
<div class="row">
    <div class="col-xs-12">
        <div class="payment-head bold large-font">
            3만개의 문제가 있는 무한 문제집!<br>
서울대 출신 강사들의 인터넷 강의!<br>
완전 맟춤 인공지능 약점강화 시스템!<br>
이 모든 서비스를 무제한으로!<br>
        </div>
    </div>
</div>
<div class="row payment-box-div" align="center">
    <div class="col-xs-4">
        <img class="payment-box" src="{% static 'assets/img/group-8@3x.png' %}">
    </div>
    <div class="col-xs-4">
        <img class="payment-box" src="{% static 'assets/img/group-7@3x.png' %}">
    </div>
    <div class="col-xs-4">
        <img class="payment-box" src="{% static 'assets/img/group-10@3x.png' %}">
    </div>
</div>