{% load static %}
<div class="col-xs-12">
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="problem-box">
        <label class="container small-font" style="width: 10%; left: 45%; top: 5%">
            <input id="private" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
</div>

<script>
    $('.problem-box').css('height', $('.problem-box').width())
</script>