{% load static %}
<div class="col-xs-12">
    {% for problem in problems %}
    <div class="problem-box">
        <div class="problem">
            {{ problem.text }}
        </div>
        <label class="container small-font problem-checkbox">
            <input class="problem-check" type="checkbox" data-units="{{ problem.get_units }}" data-problemsrl="{{ problem.problemSrl }}" {% if problem.problemSrl in testProblemSrls %}checked{% endif %}>
            <span class="checkmark"></span>
        </label>
    </div>
    {% endfor %}
</div>

<script>
    $('.problem-box').css('height', $('.problem-box').width())
    problemSrls = String({% if testProblemSrls %}{{ testProblemSrls }}{% else %}''{% endif %}).split(',')
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>