{% load static %}
<div class="row" style="margin-top: 5px;">
    <div class="col-xs-3 lecture-left-menu" align="center" style="padding: 0;">
        <div class="lecture-left-box x-large-font create-test-left-box">
            {{ user.name }}의 문제집
        </div>
        {% for recommend in user.recommend.all %}
        <div class="list-group project-left-box-div">
            <div class="row graph-title" data-open="false" align="center">
                <p class="large-font bold">{{ recommend.unit.get_unit_display }}</p>
                <p class="small-font">{{ recommend.aimGrade }}등급 만들기</p>
            </div>
            <div class="list-group graph-box">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="doughnut-chart" id="doughnutChartContainer" style="padding: 5% 5% 5% 0; width: 100%; height: 200px;"></div>
                    </div>
                    <div class="col-xs-4" style="margin: 15% 0 0 -10%;">
                        <p class="large-font orange-color">0</p>
                        <p class="x-small-font gray-color">day streak</p>
                        <p class="large-font orange-color">6</p>
                        <p class="x-small-font gray-color">hours left</p>
                    </div>
                </div>
                <div class="row project-left-box">
                    <div class="chart" id="chartContainer" style="padding: 10% 0% 10% 5%; height: 200px; width: 80%;"></div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-xs-12" align="center">
                <input id="self-study" type="button" class="w3-btn white-color medium-font" value="스스로 학습하기">
            </div>
        </div>
    </div>
    <div class="col-xs-9">
        <div class="row">
            <div class="col-xs-12 project-title">
                <div class="recommend-title main-color x-large-font bold" align="center">
                    약점 강화 프로젝트
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 8%;">
            {% for recommend in user.recommend.all %}
            <div class="col-xs-3 col-xs-offset-1 project-unit-box-div">
                <div class="project-unit-box" data-recommendsrl="{{ recommend.recommendSrl }}">
                    <div class="project-text-box">
                        <p class="large-font bold">{{ recommend.unit.get_unit_display }}</p>
                        <p class="medium-font">{{ recommend.unit.get_unit_display }}가 부족한 {{ user.name }}에게 주는 선물</p>
                        <br>
                        <p class="medium-font">영상 {{ recommend.get_lecture_count }} 문제 {{ recommend.get_problem_count }}</p>
                        <br>
                        <p class="medium-font">선 이수 과목</p>
                        <p class="medium-font bold">없음</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<script>
    $('.graph-title').click(function () {
        if($(this).data('open') == false) {
            $(this).next('.graph-box ').css('height', '450px')
            $(this).data('open', true)
            $.ajax({
                url: "getRateData/",
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    drawGraph(result, 'chartContainer')
                },
            });

            $.ajax({
                url: "getRateData/",
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    drawDoughnutGraph(result, 'doughnutChartContainer')
                },
            });
             $.ajax({
                url: "getRateData/",
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    drawGraph(result, 'chartContainer2')
                },
            });

            $.ajax({
                url: "getRateData/",
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    drawDoughnutGraph(result, 'doughnutChartContainer2')
                },
            });
        } else if($(this).data('open') == true){
            $(this).next('.graph-box ').css('height', '0')
            $(this).data('open', false)
        }
    })

    $('#self-study').click(function () {
        $.ajax({
            url: "createTest/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })

    $('.project-unit-box').click(function () {
        $.ajax({
            url: "recommend/?recommendSrl="+$(this).data('recommendsrl'),
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)
            },
        });
    })

    $.ajax({
        url: "getRateData/",
        type: 'GET',
        contentType: "application/json; charset=utf-8",
        success: function (result) {
            drawGraph(result, 'chartContainer2')
        },
    });

    $.ajax({
        url: "getRateData/",
        type: 'GET',
        contentType: "application/json; charset=utf-8",
        success: function (result) {
            drawDoughnutGraph(result, 'doughnutChartContainer2')
        },
    });

</script>