{% load static %}
<div class="row" style="margin-top: 5px;">
    <div class="col-xs-3 lecture-left-menu" align="center" style="padding: 0">
        <div class="lecture-left-box x-large-font create-test-left-box">
            {{ user.name }}의 문제집
        </div>
        <div class="row lecture-left-box test-box">
            <div class="col-xs-12 test-name-div recommend-name-div">
                <img class="arrow-back" src="{% static 'assets/img/arrow.png' %}">
                <div class="row">
                    <div class="col-xs-12 x-large-font bold" align="left">
                          기하와 벡터
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 medium-font" align="left">
                        진행 상황
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-9" style="padding: 5% 7% 5% 7%">
        <div class="row">
            <div class="col-xs-12" style="padding-left: 0; padding-right: 3%;">
                <div class="recommend-title main-color x-large-font bold" align="center">
                    기하와 벡터 - 문제와 영상
                </div>
            </div>
        </div>
        <div class="row recommend-sub-title" style="margin-top: 2%;">
            <div class="col-xs-9" align="left" style="padding-top: 50px; padding-left: 10%;">
                <div class="row x-large-font bold">
                    추천 프로그램을 통한 강화학습
                </div>
                <div class="row medium-font">
                    약한 부분을 강화하기 위하여 수능대왕이 문제집과 영상을 수집했습니다.
                </div>
            </div>
            <div class="col-xs-3" style="padding-top: 10px;">
                <img class="rocket-img" src="{% static 'assets/img/rocket.png' %}">
            </div>
        </div>
        <div class="row" style="margin-top: 3%;">
            <div class="recommend-unit col-xs-12 large-font bold" align="left">
                벡터
            </div>
        </div>
        <div class="row" style="margin-top: 3%;">
            <div class="col-xs-6" style="padding-left: 3%;">
                <div class="row medium-font gray-color bold" align="left">
                    학습하기
                </div>
                <div class="row" style="margin-top: 3%;">
                    <img class="star-circle" src="{% static 'assets/img/play-circle.png' %}">
                    &nbsp;선형대수학을 위한 벡터란?
                </div>
                <div class="row" style="margin-top: 3%;">
                    <img class="star-circle" src="{% static 'assets/img/play-circle.png' %}">
                    &nbsp;실좌표공간
                </div>
                <div class="row" style="margin-top: 3%;">
                    <img class="star-circle" src="{% static 'assets/img/play-circle.png' %}">
                    &nbsp;대수와 그래프를 이용한 벡터의 덧셈
                </div>
                <div class="row" style="margin-top: 3%;">
                    <img class="star-circle" src="{% static 'assets/img/play-circle.png' %}">
                    &nbsp;벡터와 스칼라의 곱셈
                </div>
                <div class="row" style="margin-top: 3%;">
                    <img class="star-circle" src="{% static 'assets/img/play-circle.png' %}">
                    &nbsp;벡터 예제
                </div>
                <div class="row" style="margin-top: 3%;">
                    <img class="star-circle" src="{% static 'assets/img/play-circle.png' %}">
                    &nbsp;단위벡터란?
                </div>
                <div class="row" style="margin-top: 3%;">
                    <img class="star-circle" src="{% static 'assets/img/play-circle.png' %}">
                    &nbsp;직선의 매개변수 표현
                </div>
            </div>
            <div class="col-xs-6" align="left">
                <div class="row medium-font gray-color" align="left">
                    연습문제
                </div>
                <div class="row recommend-test">
                    <div class="row">
                        <img class="star-circle" src="{% static 'assets/img/star-circle.png' %}">
                        벡터
                    </div>
                    <div class="row" style="margin-top: 5%;">
                        <div class="col-xs-6">
                            4 문제
                        </div>
                        <div class="col-xs-6" align="right" style="color: #77AC29;">
                            연습문제
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
