{% load static %}
<div class="row">
{#    <div class="col-xs-4">#}
{#        <div class="line-bar-circle main-background-color" style="left: 100px;"></div>#}
{#        <div class="line-bar main-background-color"></div>#}
{#        <div class="line-text medium-font main-color">약관 동의</div>#}
{#    </div>#}
{#    <div class="col-xs-4" align="center">#}
{#        <div class="line-bar-circle main-background-color"></div>#}
{#        <div class="line-bar main-background-color" style="left: 200px;"></div>#}
{#        <div class="line-text medium-font main-color" style="left: 160px;">정보 입력</div>#}
{#    </div>#}
{#    <div class="col-xs-4" >#}
{#        <div class="line-bar-circle main-background-color" style="left: 300px;"></div>#}
{#        <div class="line-text medium-font main-color" style="left: 260px;">가입 완료</div>#}
{#    </div>#}

    <div class="cox-xs-12" align="center">
        <img class="line-bar-img" src="{% static 'assets/img/line-bar01.png' %}">
    </div>
</div>

<div class="row" style="margin-top: 2%;">
    <div class="col-xs-6" align="center">
        <p class="medium-font" style="margin-left: 18%;">수능대왕 이용약관 동의</p>
        <div class="text-box x-small-font pre-line" align="left" style="margin-left: 18%;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce interdum, velit nec lacinia venenatis, est tortor imperdiet neque, lacinia accumsan augue orci ut lorem. Vestibulum eleifend id nunc ac suscipit. Nunc quis augue hendrerit, sodales tellus at, malesuada neque. Etiam finibus, enim eu eleifend ultricies, risus mauris auctor eros, ac tempor leo urna non magna. Maecenas in leo dolor. Suspendisse sed faucibus odio. Duis vulputate elit ut porta pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent posuere, nulla non pretium dictum, neque purus bibendum est, sed tempus sapien mauris et erat. In nec elit convallis, elementum erat non, luctus metus. Nullam sagittis posuere laoreet. Aliquam id aliquet magna. Etiam rhoncus pulvinar massa, a hendrerit lectus pellentesque a. Suspendisse eu luctus sapien. Morbi ut varius neque. Praesent sodales venenatis accumsan.

Nulla euismod quis magna quis ultricies. Maecenas rhoncus cursus magna a maximus. Donec vel elit sit amet dolor fringilla bibendum quis in elit. Sed in metus id lacus luctus faucibus at eget elit. Donec pulvinar varius orci, eget viverra leo malesuada vitae. Curabitur gravida semper nisl, eu euismod metus euismod suscipit. Integer iaculis porttitor mauris, sed dapibus lectus semper sed. Sed egestas libero vel malesuada vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui quam, commodo sit amet auctor id, pharetra eu massa. Ut egestas elementum dui, ut egestas elit dignissim quis. Nulla viverra vestibulum lectus, ac dapibus purus semper non.

Integer lobortis mollis diam vel tincidunt. Pellentesque vehicula neque nec odio imperdiet dictum. Sed accumsan velit id placerat semper. Nulla luctus fermentum bibendum. Nunc auctor tristique porttitor. Praesent ac enim dictum, ullamcorper ipsum sed, egestas velit. Fusce euismod tempor euismod. Fusce vehicula pellentesque diam, vel faucibus nulla. Quisque nec hendrerit neque, sed bibendum dui. Nam porta sollicitudin orci, non auctor nisl suscipit nec. Proin vitae aliquet mauris, vitae feugiat velit. Nam massa arcu, iaculis quis orci sit amet, faucibus viverra lectus. Suspendisse nec justo at tellus dictum vestibulum. In hac habitasse platea dictumst. Mauris ut tempus risus.
        </div>
        <div class="agree-text" style="margin-left: 18%">
            이용약관에 동의합니다.
            <label class="container small-font" style="left: 64%; margin-top: -23px;">
                <input id="usage" type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
        </div>
    </div>
    <div class="col-xs-6" align="center" style="padding-left: 0">
        <p class="medium-font" style="margin-right: 30%;">수능대왕 개인정보 취급 방침</p>
        <div class="text-box x-small-font pre-line" align="left" style="margin-right: 30%;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce interdum, velit nec lacinia venenatis, est tortor imperdiet neque, lacinia accumsan augue orci ut lorem. Vestibulum eleifend id nunc ac suscipit. Nunc quis augue hendrerit, sodales tellus at, malesuada neque. Etiam finibus, enim eu eleifend ultricies, risus mauris auctor eros, ac tempor leo urna non magna. Maecenas in leo dolor. Suspendisse sed faucibus odio. Duis vulputate elit ut porta pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent posuere, nulla non pretium dictum, neque purus bibendum est, sed tempus sapien mauris et erat. In nec elit convallis, elementum erat non, luctus metus. Nullam sagittis posuere laoreet. Aliquam id aliquet magna. Etiam rhoncus pulvinar massa, a hendrerit lectus pellentesque a. Suspendisse eu luctus sapien. Morbi ut varius neque. Praesent sodales venenatis accumsan.

Nulla euismod quis magna quis ultricies. Maecenas rhoncus cursus magna a maximus. Donec vel elit sit amet dolor fringilla bibendum quis in elit. Sed in metus id lacus luctus faucibus at eget elit. Donec pulvinar varius orci, eget viverra leo malesuada vitae. Curabitur gravida semper nisl, eu euismod metus euismod suscipit. Integer iaculis porttitor mauris, sed dapibus lectus semper sed. Sed egestas libero vel malesuada vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui quam, commodo sit amet auctor id, pharetra eu massa. Ut egestas elementum dui, ut egestas elit dignissim quis. Nulla viverra vestibulum lectus, ac dapibus purus semper non.

Integer lobortis mollis diam vel tincidunt. Pellentesque vehicula neque nec odio imperdiet dictum. Sed accumsan velit id placerat semper. Nulla luctus fermentum bibendum. Nunc auctor tristique porttitor. Praesent ac enim dictum, ullamcorper ipsum sed, egestas velit. Fusce euismod tempor euismod. Fusce vehicula pellentesque diam, vel faucibus nulla. Quisque nec hendrerit neque, sed bibendum dui. Nam porta sollicitudin orci, non auctor nisl suscipit nec. Proin vitae aliquet mauris, vitae feugiat velit. Nam massa arcu, iaculis quis orci sit amet, faucibus viverra lectus. Suspendisse nec justo at tellus dictum vestibulum. In hac habitasse platea dictumst. Mauris ut tempus risus.
        </div>
        <div class="agree-text" style="margin-right: 18%">
            개인정보 처리 방침에 동의합니다.
            <label class="container small-font" style="left: 69%; margin-top: -23px;">
                <input id="private" type="checkbox">
                <span class="checkmark"></span>
              </label>
        </div>
    </div>
</div>

<div class="row bottom-btn">
    <div class="col-xs-offset-3 col-xs-2" align="left">
        <input id="to-home" class="w3-btn main-color step-button medium-font gray-background-color" style="margin-left: 38%; z-index: 2;" type="button" value="홈페이지로">
    </div>
    <div class="col-xs-offset-1 col-xs-2" align="left">
        <input id="to-next" class="w3-btn white-color step-button medium-font main-background-color" style="margin-left: -10.5%;" type="button" value="다음 단계로">
    </div>
</div>

<script>
    history.pushState(null, null, "#signIn");
    $(window).unbind("hashchange")
    $(window).bind("hashchange", function(){
        window.location = '/'
    });

    $('#to-home').click(function () {
        window.location = '/'
    })

    $('#to-next').click(function () {
        if(!$('#usage').is(':checked')){
            alert('이용약관에 동의해 주세요.')
            return false;
        }

        if(!$('#private').is(':checked')){
            alert('개인정보 처리 방침에 동의해 주세요.')
            return false;
        }

        $.ajax({
            url: "signIn2/",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.main-container').empty()
                $('.main-container').append(result)

            },
        });
    })
</script>