<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
                                                      });

</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

$f(n)=\frac{1^{2}+2^{2}+3^{2}+ … +{n}^{2}}{3+5+7+…+(2n+1)}$ 일때, $\lim\limits_{n \to \infty} \frac{f(n)}{n}$ 의 값은?

<h1>문제 1 <img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/71865679f59b45c08c8efc2df41129ec0c675536">
</h1>
<img src ="https://upload.wikimedia.org/wikipedia/commons/7/76/Elliptic_curve_simple.png">
<img src ="https://wikimedia.org/api/rest_v1/media/math/render/svg/4d1dfbdbc9f282a890a4539ce701c2029c1e1820">가 실수체 또는 복소수체라고 하자.
<img src = "https://wikimedia.org/api/rest_v1/media/math/render/svg/bcffd5412900c03b61e278c443c1a4de4273e8ee">
바나흐 공간에서의 노름 공간.
<p><img src = "https://postfiles.pstatic.net/MjAxNzA2MTRfMTQg/MDAxNDk3NDI5MjY3ODMw.OR8KekKB3dZI00uv-SZSoV7wAUzNIIkFf216QHfxImsg.Fl3BGlQgRGVoSS5l1qi33zoSBYsTTDsaSr_4a7Qb-nog.JPEG.toruwatanabe/20170412_123621.jpg?type=w580"></p>