{% load static %}
{% for test in tests %}
<div class="row lecture-left-box large-font test-box">
    <div class="col-xs-9 test-name-div" data-testsrl="{{ test.testSrl }}" data-testname="{{ test.name }}">
        {{ test.name }}
    </div>
    <div class="col-xs-3 test-start-div" data-testsrl="{{ test.testSrl }}" >
        <img class="test-start" src="{% static 'assets/img/triangle.png'%}">
    </div>
</div>
{% endfor %}
<div id="new-test" class="row lecture-left-box large-font test-box">
    <div class="col-xs-12 test-name-div">
        새 문제지
    </div>
</div>
