<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Replied Requests</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="dataTables_wrapper no-footer">
                    <div class="table-scrollable">
                        <table style="margin-top: 30px;"
                               class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                               id="sample_1" role="grid" aria-describedby="sample_1_info">

                            <thead>
                            <tr role="row">
                                <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label=" Username : activate to sort column descending"
                                    style="width: 204px; text-align:center; "> Name
                                </th>
{#                                <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"#}
{#                                    aria-sort="ascending" aria-label=" Username : activate to sort column descending"#}
{#                                    style="width: 104px; text-align:center; "> Age#}
{#                                </th>#}
                                <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                    aria-label=" Joined : activate to sort column ascending" style="width: 198px; text-align:center; ">
                                    Desired Procedures
                                </th>
                                <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                    aria-label=" Joined : activate to sort column ascending" style="width: 178px; text-align:center; ">
                                    Phone Number
                                </th>
                                <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                    aria-label=" Joined : activate to sort column ascending" style="width: 198px; text-align:center; ">
                                    Email
                                </th>
                                <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                    aria-label=" Joined : activate to sort column ascending" style="width: 198px; text-align:center; ">
                                    Submitted
                                </th>
                                <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                    aria-label=" Email : activate to sort column ascending" style="width: 71px; text-align:center; ">
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                {% include "gb_web_doctor/consult_req/requests.html" %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>