<div class="row multi-address" style="margin: 0 0 0 0;">
    <div class="form-group" style="margin-bottom: -1px;">
        <div class="input-icon input-icon-sm">
            <i class="fa fa-pencil"></i>
            <input type="text" class="form-control input-sm address" {% if a != 'empty' %}value="{{ a.address }}"{% endif %} placeholder="Address">
        </div>
    </div>

    <div class="form-group" style="width: 30%; float:left">
        <div class="input-icon input-icon-sm">
            <i class="fa fa-pencil"></i>
            <input type="text" class="form-control input-sm city" {% if a != 'empty' %}value="{{ a.get_city }}"{% endif %} placeholder="City">
        </div>
    </div>
    <div class="form-group" style="width: 30%; float:left; margin-left: 5%">
        <div class="input-icon input-icon-sm">
            <select class="form-control input-sm state" {%  if a != 'empty' %}data-state="{{ a.state }}"{% endif %}>
            <option value='none'>Select Your State</option>
            </select>
        </div>
    </div>
    <div class="form-group" style="width: 30%; float:right" >
        <div class="input-icon input-icon-sm">
            <i class="fa fa-pencil"></i>
            <input type="text" class="form-control input-sm zipcode" {% if a != 'empty' %}value="{{ a.zip_code }}"{% endif %} placeholder="Zip Code">
        </div>
    </div>
</div>