<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Create My Gallery
            <small>Before & After Gallery</small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<div class="row">
    <div class="col-md-8">
                                <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="bold icon-user font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase">  {{ gallery.user.get_full_name }}</span>
                    <div>
                        <span class="small lowercase">
                            {% if gallery.get_day_diff != 0 %}
                                {{ gallery.get_day_diff }} days ago
                            {% else %}
                                {{ gallery.get_hour_diff }} hours ago
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form">
                    <div class="form-body">
                        <div>
                            <h4 class="form-section">
                                <span class="bold">[Photos]</span>
                            </h4>
                            <div>
                                images
                            </div>
                        </div>
                        <div>
                            <h4 class="form-section">
                                <span class="bold">[Concerns/Questions]</span>
                            </h4>
                            <div>
                                texts
                            </div>
                        </div>
                        <div>
                            <h4 class="form-section">
                                <span class="bold">[Budget]</span> $1,000
                            </h4>
                        </div>
                        <div>
                            <h4 class="form-section">
                                <span class="bold">[Time Frame]</span> Immediately
                            </h4>
                        </div>
                        <div>
                            <h4 class="form-section">
                                <span class="bold">[Previous Procedures]</span> None
                            </h4>
                        </div>
                        <div class="form-group">
                            <label>Opinion</label>
                            <div class="input-icon input-icon-sm">
                                <i class="fa fa-pencil"></i>
                                <textarea class="form-control input-sm" placeholder="Write your opinion with a procedure(s) you reccomend for this patient"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Estimated Cost</label>
                            <div class="input-icon input-icon-sm">
                                <i class="fa fa-dollar"></i>
                                <input type="text" class="form-control input-sm" placeholder="Enter the estimated cost for the procedure(s)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>(Optional) Special Discoount</label>
                            <div class="input-icon input-icon-sm">
                                <i class="fa fa-tag"></i>
                                <input type="text" class="form-control input-sm" placeholder="Enter a special discount offer (e.g. 15% or 20%)">
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-circle blue uppercase">send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
            <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>