{% csrf_token %}
<div class="form-body">
    <div class="form-group">
        <div class="input-icon input-icon-sm">
            <i class="fa fa-pencil"></i>
            <textarea id="problem-text" class="form-control input-sm" placeholder="문제 내용">{% if problem.text %}{{ problem.text }}{% endif %}</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="input-icon input-icon-sm">
            <i class="fa fa-pencil"></i>
            <input id="answer" type="number" class="form-control input-sm" {% if problem.answer %}{{ problem.answer }}{% endif %} placeholder="문제 정답">
        </div>
    </div>

    <div class="form-group">
        <div class="input-icon input-icon-sm">
            <select id="type1" class="form-control input-sm">
                <option value="1" {% if problem.type1 == 1 %}selected{% endif %}>내신형</option>
                <option value="2" {% if problem.type1 == 2 %}selected{% endif %}>수능형</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="input-icon input-icon-sm">
            <select id="type2" class="form-control input-sm">
                <option value="1" {% if problem.type2 == 1 %}selected{% endif %}>개념확인형</option>
                <option value="2" {% if problem.type2 == 2 %}selected{% endif %}>개념응용형</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="input-icon input-icon-sm">
            <select id="difficulty" class="form-control input-sm">
                <option value="1" {% if problem.difficulty == 1 %}selected{% endif %}>쉬움</option>
                <option value="2" {% if problem.difficulty == 2 %}selected{% endif %}>중간</option>
                <option value="3" {% if problem.difficulty == 3 %}selected{% endif %}>어려움</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="input-icon input-icon-sm">
            <select id="unit" multiple class="form-control input-sm">
                <option value="1" {% if problem.type == 1 %}selected{% endif %}>수1</option>
                <option value="2" {% if problem.type == 2 %}selected{% endif %}>수2</option>
                <option value="3" {% if problem.type == 3 %}selected{% endif %}>미적1</option>
                <option value="4" {% if problem.type == 4 %}selected{% endif %}>미적2</option>
                <option value="5" {% if problem.type == 5 %}selected{% endif %}>확통</option>
                <option value="6" {% if problem.type == 6 %}selected{% endif %}>기벡</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="input-icon input-icon-sm">
            <i class="fa fa-pencil"></i>
            <textarea id="problem-explanation" class="form-control input-sm" placeholder="문제 풀이">{% if problem.explanation %}{{ problem.explanation }}{% endif %}</textarea>
        </div>
    </div>

    <div class="form-actions">
        <button id="problem-submit" type="" class="btn btn-circle blue uppercase">SAVE</button>
    </div>
</div>
