{% load static %}
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>문제 등록
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<div class="row">
    <div class="col-md-8">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="bold icon-user font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase">  문제 이미지 업로드</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div id="image_list">
                    {% include "basic_info/image_list.html" %}
                </div>
                <div style="margin-top: 30px">
                    <form role="form" id="image_form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input id="image" type="file" name="photo">
                        <div class="form-actions">
                            <button type="submit" class="btn btn-circle blue uppercase">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="portlet light bordered">
            <div class="pomrtlet-title">
                <div class="caption font-red-sunglo">
                    <i class="bold icon-envelope font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> 문제 정보</span>
                    <div>
                        <span class="small lowercase">
                        </span>
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <form id="basic_form" role="form" method="POST">
                    {% include "basic_info/problem_form.html" %}
                </form>
            </div>
        </div>
            <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>

<script>
    document.getElementById("image").onchange = function () {
        var reader = new FileReader();

        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("images").src = e.target.result;
        };

    // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
    };

    $("#image_form").submit(function(e) {
        $(".se-pre-con").css('display', "block");

        var formData = new FormData($(this)[0]);

        $.ajax({
            url: "problem_photo/",
            type: "POST",
            data: formData,
            success: function (result) {
                $('#image_list').empty();
                $('#image_list').append($(result));
                $(".se-pre-con").fadeOut("slow");
            },
            cache: false,
            contentType: false,
            processData: false
        });

        e.preventDefault();
    });

    $('#problem-submit').click(function (e) {
        e.preventDefault();
        if(!$('#answer').val()){
            alert('정답을 입력해 주세요.')
            return false;
        }
        
        if(!$('#unit').val()){
            alert('해당 과목을 선택해 주세요.')
            return false;
        }

        $(".se-pre-con").css('display', "block");
        $.ajax({
            url: "save_problem/",
            type: "POST",
            data: {problemText: $('#problem-text').val(), answer: $('#answer').val(), type1: $('#type1').val(), type2: $('#type2').val(),
                    difficulty: $('#difficulty').val(), unit: $('#unit').val().toString(), explanation: $('#problem-explanation').val()},
            success: function (result) {
                $('#problem-text').val('')
                $('#answer').val('')
                $('#type').val(1)
                $('#difficulty').val(1)
                $('#unit').val('')
                $(".se-pre-con").fadeOut("slow");
                alert('문제가 등록 되었습니다.')
                $('#image_list').empty();
                $('#image_list').append($(result));
            },
        });
    })

    $('#doctor').change(function () {
        $.ajax({
            url: "change_doctorProfile/?doctorProfileSrl="+$('#doctor').val(),
            method: "GET",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('#current_doctor').text('Currently Selected Doctor: ' + $('#doctor option:selected').text())
                $('.page-content').empty();
                $('.page-content').append(result);
            }
        });
    })

    function rotate(img_elem){
        img_elem.data('rotate', (parseInt(img_elem.data('rotate'))+90) % 360)
        img_elem.css('transform', 'rotate('+img_elem.data('rotate')+'deg)')
        if(img_elem.data('rotate') == 90 || img_elem.data('rotate') == 270) {
            img_elem.css('width', '200px')
            img_elem.css('height', '160px')
            img_elem.css('margin-top', '25px')
            img_elem.css('margin-left', '-20px')
            img_elem.css('margin-right', '-15px')
            img_elem.css('margin-bottom', '0px')
        } else {
            img_elem.css('width', '160px')
            img_elem.css('height', '200px')
            img_elem.css('margin-top', '5px')
            img_elem.css('margin-left', '0px')
            img_elem.css('margin-right', '5px')
            img_elem.css('margin-bottom', '0px')
        }
    }




</script>


