{% csrf_token %}
<div class="form-body">
    <div class="form-group">
        <div class="input-icon input-icon-sm">
            <i class="fa fa-pencil"></i>
            <textarea id="problem-text" class="form-control input-sm" placeholder="문제 내용1">{% if problem.text %}{{ problem.text }}{% endif %}</textarea>
        </div>
    </div>

    <div class="form-body">
        <div class="form-group">
            <div class="input-icon input-icon-sm">
                <i class="fa fa-pencil"></i>
                <textarea id="problem-text2" class="form-control input-sm" placeholder="문제 내용2">{% if problem.text2 %}{{ problem.text2 }}{% endif %}</textarea>
            </div>
        </div>

    <div class="form-group">
        <div class="input-icon input-icon-sm">
            <i class="fa fa-pencil"></i>
            <input id="answer" type="number" class="form-control input-sm" {% if problem.answer %}{{ problem.answer }}{% endif %} placeholder="문제 정답">
        </div>
    </div>

    <div class="form-group">
        <div class="input-icon input-icon-sm">
            <input id="type1" type="number" class="form-control input-sm" {% if problem.type1 %}{{ problem.type1 }}{% endif %} placeholder="8자리 숫자">
        </div>
    </div>

    <div class="form-group">
        <div class="input-icon input-icon-sm">
            <select id="difficulty" class="form-control input-sm">
                <option value="1" {% if problem.difficulty == 1 %}selected{% endif %}>2점</option>
                <option value="2" {% if problem.difficulty == 2 %}selected{% endif %}>3점</option>
                <option value="3" {% if problem.difficulty == 3 %}selected{% endif %}>4점</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="input-icon input-icon-sm">
            <select id="unit" multiple class="form-control input-sm">
                <option value="1">수1</option>
                <option value="2">수2</option>
                <option value="3">미적1</option>
                <option value="4">미적2</option>
                <option value="5">확통</option>
                <option value="6">기벡</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="input-icon input-icon-sm">
            <select id="middleUnit" multiple class="form-control input-sm" style="height: 400px;">
                {% for unit in middleUnit %}
                <option value="{{ unit.0 }}">{{ unit.1 }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="input-icon input-icon-sm">
            <select id="smallUnit" multiple class="form-control input-sm" style="height: 400px;">
                {% for unit in smallUnit %}
                <option value="{{ unit.0 }}">{{ unit.1 }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="input-icon input-icon-sm">
            <i class="fa fa-pencil"></i>
            <textarea id="problem-explanation" class="form-control input-sm" placeholder="문제 풀이">{% if problem.explanation %}{{ problem.explanation }}{% endif %}</textarea>
        </div>
    </div>

    <div class="form-actions">
        <button id="problem-submit" type="" class="btn btn-circle blue uppercase">SAVE</button>
    </div>
</div>
