{% load static %}
<div align="left">
    <span id="usage">이용약관</span>
    <span id="privacy">개인정보처리방침</span>
</div>

<div align="left">
    <small>Copyright &copy; RainbowBridge 2018</small>
</div>

<div align="left">
  <p class="bold">레인보우브릿지</p>
  <p>사업자번호:588-70-00110 | 통신판매업:2018-서울성수-1081</p>
	<p>서울시 성동구 레인보우브릿지</p>
	<p>이메일:contact@rainbowbridge.space |</p>
  <p>Copyright © 2018 RainbowBridge. All rights reserved.</p>
</div>




</div>

<script>
$("#usage").click(function() {
  $.ajax({
    url: "usage/",
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
    }
  });
});

$("#privacy").click(function() {
  $.ajax({
    url: "privacy/",
    type: "GET",
    contentType: "application/json; charset=utf-8",
    success: function(result) {
      $(".main-container").empty();
      $(".main-container").append(result);
    }
  });
});
</script>
